@using ControlSystem.Services.DTO;

<style>
    .dropdown-content,
    .dropdown-status-content {
        display: none;
        right: 20px;
        white-space: nowrap;
    }

    .dropdown-status-content{
        right: 0px;
    }

    .ticket-options-button:hover + .dropdown-content, 
    .dropdown-content:hover {
        display: block;
        z-index: 1;
        position: absolute;
    }

    .dropdown-content button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
        border: none;

        cursor: pointer;
        background-color: #2a2e34;
        border: none;
        border-bottom: 1px solid #d8d8d8;
        color: #d8d8d8;
    }

    .dropdown-content button:hover {
        background-color: #87909e;
    }

        #statuses-button:hover ~ .dropdown-status-content,
        .dropdown-status-content:hover {
            display: block;
            z-index: 1;
            position: absolute;
        }
</style>

@model TicketDTO

<input id="title-cache-value" type="hidden" value="@Model.Title" />
<input id="description-cache-value" type="hidden" value="@Model.Description"/>

@if (Model != null)
{
    <form id="formTicket">
        <div class="ticket-container">
            <div class="left-ticket-modal">
                <input type="hidden" name="Id" value="@Model.Id"/>
                <input type="hidden" name="StatusId" value="@Model.StatusId" />

                <div class="ticket-title-div">
                    <textarea type="text" class="ticket-title" name="Title" placeholder="Название">@Model.Title</textarea>

                    <div class="dropdown">
                        <button type="button" class="ticket-options-button" onclick="toggleDropdown()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                            </svg>
                        </button>
                        <div class="dropdown-content">
                            <button type="button"  onclick="getTagsData(@Model.Id)">Ред. теги</button>
                            <button type="button" onclick="getPriorityData(@Model.Id)">Ред. приоритет</button>
                            <button id="statuses-button" type="button">Ред. статус &#9660;</button>
                            <div class="dropdown-status-content">
                                @foreach (var status in Model.Statuses.Where(x => x.Id != Model.StatusId))
                                {
                                    <button type="button" onclick="changeStatus(@Model.Id, @status.Id)">@status.Name</button>
                                }
                            </div>
                        </div>

                        
                    </div>

                </div>

                <div class="info-card">
                    <input type="hidden" name="Author.Name" value="@Model.Author.Name" />
                    <input type="hidden" name="Author.Id" value="@Model.Author.Id"/>
                    <label class="info-card-author">Заказчик: <a href="#" style="color: #d8d8d8">@Model.Author.Name</a></label>
                    <div id="ticket-executor">
                        @if(Model.Executor != null)
                        {
                            <label class="info-card-author" style="margin-left: auto;">Отвественнный: <a href="#" style="color: #d8d8d8">@Model.Executor.Name</a></label>
                        }
                    </div>
                    @if (!Model.UpdatedDate.Equals(Model.CreationDate))
                    {
                        <div style="margin-left: auto">
                            <label class="info-card-date" style="font-style: italic; margin-right: 4px">Обновлено:</label>
                            <input type="hidden" name="UpdatedDate" value="@Model.UpdatedDate" />
                            <input type="hidden" name="CreationDate" value="@Model.CreationDate" />
                            <label class="info-card-date"> @Model.UpdatedDate.ToString("dd.MM.yyyy  HH:mm")</label>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="UpdatedDate" value="@Model.UpdatedDate" />
                        <input type="hidden" name="CreationDate" value="@Model.CreationDate" />
                        <label class="info-card-date">Создано: @Model.CreationDate.ToString("dd.MM.yyyy  HH:mm")</label>
                    }
                </div>
                <div class="deadline-div">
                    @if (Model.DeadlineDate != null)
                    {
                        <input type="hidden" name="DeadlineDate" value="@Model.DeadlineDate.Value" />
                        <label class="info-card-date">
                            <label style="font-style: italic; margin-right: 4px">
                                Срок сдачи:
                            </label>
                            @Model.DeadlineDate.Value.ToString("dd.MM.yyyy  HH:mm")
                        </label>
                    }
                </div>
                <div class="tags">
                    @if (Model.Tags != null)
                    {
                        <svg class="tags-image" fill="#d8d8d8" width="20px" height="20px" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                            <path d="M246.65625,132.43713l-45.625,68.43848.001-.001a15.96649,15.96649,0,0,1-13.31348,7.125H40a16.01833,16.01833,0,0,1-16-16v-128a16.01833,16.01833,0,0,1,16-16H187.71875a15.9687,15.9687,0,0,1,13.31348,7.126l45.624,68.43652A7.99771,7.99771,0,0,1,246.65625,132.43713Z" />
                        </svg>
                        <label style="color: #d8d8d8; padding-left: 7px; padding-right: 7px">Теги:</label>

                        for(int i = 0; i < Model.Tags.Count; i++)
                        {
                            var tag = Model.Tags[i];

                            <div class="tag" style="background-color: @tag.ColorHex; border-radius: 20px 20px 20px 20px; padding-right: 15px; padding-left:15px; margin-left: 7px;">
                                
                                <input type="hidden" name="Tags[@i].ColorHex" value="@tag.ColorHex">
                                <input type="hidden" name="Tags[@i].Name" value="@tag.Name">
                                <input type="hidden" name="Tags[@i].Id" value="@tag.Id">

                                <label style="font-weight: bold">@tag.Name</label>
                            </div>
                        }

                       @* <button id="add-button" style="margin-left: 7px">
                            <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                            </svg>
                        </button>*@
                    }

                </div>

                <div class="priority-container">
                    @if (Model.Priority != null)
                    {
                        <input type="hidden" name="Priority.Name" value="@Model.Priority.Name" />
                        <input type="hidden" name="Priority.ColorHex" value="@Model.Priority.ColorHex" />
                        <input type="hidden" name="Priority.Id" value="@Model.Priority.Id" />

                        <svg class="prio-image" width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#d8d8d8" d="M288 128h608L736 384l160 256H288v320h-96V64h96v64z" />
                        </svg>
                        <label style="color: #d8d8d8; margin-left: 7px;">Приоритет: </label>
                        <div style="margin-left: 7px; padding-left: 7px; padding-right: 7px; background-color: @Model.Priority.ColorHex; border-radius: 20px;">
                            <label style="font-weight: bold">@Model.Priority.Name</label>
                        </div>
                    }
                </div>
                <div class="description-container">
                    <div class="description-header">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#d8d8d8">
                            <path d="M288 64c0 17.7-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32H256c17.7 0 32 14.3 32 32zm0 256c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H256c17.7 0 32 14.3 32 32zM0 192c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                        </svg>
                        <label style="color: #d8d8d8; margin-left: 7px">Описание</label>
                    </div>
                    <div class="description-body">
                        <input id="hiddenDescription" type="hidden" name="Description" value="" />
                        <div class="description-text-container" name="Description" contenteditable="true">@Model.Description</div>
                    </div>
                </div>
                <div class="attachments-container">
                    <div class="tab-container">
                        <ul class="tabs">
                            <li class="tab active" data-tab="files">Файлы</li>
                            <li class="tab" data-tab="links">Ссылки</li>
                            <li class="tab" data-tab="participants">Участники</li>
                        </ul>

                        <div class="tab-content active" id="files">
                            <div class="inner-tab-content">
                                @if (Model.Files!.Count > 0)
                                {
                                    @foreach (var file in Model.Files)
                                    {
                                        <div id="file-@file.Id" class="ticket-file">
                                            <label class="file-label" onclick="downloadFile(@file.Id, '@file.Name')">@file.Name</label>
                                            <button id="del-file" type="button" onclick="delFile(@file.Id)">
                                                <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h4 id="files-empty" style="color: #d8d8d8">Нет файлов в карточке</h4>
                                }
                            </div>
                            <div class="add-button-tab-container">
                                <button id="add-button" style="margin-left: 7px" type="button" onclick="uploadFile(@Model.Id)">
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="tab-content" id="links">
                            <div class="inner-tab-content">
                                @if (Model.Links!.Count > 0)
                                {
                                    foreach (var link in Model.Links)
                                    {
                                        <div id="link-@link.Id" class="ticket-link">
                                            <a class="link-label" href="@link.Source">@link.Name</a>
                                            <button id="del-link" type="button" onclick="delLink(@link.Id)">
                                                <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                                </svg>
                                            </button>
                                            <button id="edit-link" type="button" onclick="editLink(@Model.Id, @link.Id)">
                                                <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h4 id="links-empty"style="color: #d8d8d8">Нет ссылок в карточке</h4>
                                }
                            </div>
                            <div class="add-button-tab-container">
                                <button id="add-button" style="margin-left: 7px" type="button" onclick="addLink(@Model.Id)">
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="tab-content" id="participants">
                            <div class="inner-tab-content">
                                @if (Model.Participants.Count > 0)
                                {
                                    foreach (var part in Model.Participants)
                                    {
                                        <div id="part-@part.Id" class="ticket-part">
                                            <label class="part-label">@part.Name</label>
                                            <button id="del-part" type="button" onclick="removePart(@Model.Id, @part.Id)">
                                                <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h4 style="color: #d8d8d8">Нет участников в карточке</h4>
                                }
                            </div>
                            <div class="add-button-tab-container">
                                <button id="add-button" style="margin-left: 7px">
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right-ticket-modal">

                <div style="margin-left: 7px;">
                    <h4 class="comment-header">Комментарии</h4>
                    <div class="comments-container">
                        <div class="comments-div">
                            @if (Model.Comments != null && Model.Comments.Count > 0)
                            {
                                @foreach (var commentary in Model.Comments)
                                {
                                    <div class="comment-content">
                                        <div class="comment-info">
                                            <label>@commentary.AuthorName</label>
                                            <label class="comment-creation-date">@commentary.CreationDate</label>
                                        </div>
                                        <div class="comment-text">@commentary.Content</div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h4 id="comments-empty" style="display: flex; color: #d8d8d8; justify-content: center">Комментариев пока нет</h4>
                            }
                        </div>
                        <div class="send-comment-container">
                            <div class="comment-wrapper">
                                <textarea class="comment-enter" id="inner-textarea" placeholder="Введите текст" oninput="auroResize()"></textarea>
                            </div>
                            <button id="send-comment-button" type="button" onclick="sendComment(@Model.Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 448 512" fill="#15c118">
                                    <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
}