@using ControlSystem.Domain.Entities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>

   @* <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>*@

   <link rel="stylesheet" href="~/css/workspaces.css"/>
   <script src="~/js/workspaces.js"></script>

</head>
<body>
    @Html.Hidden("workspaceId", (int?)ViewBag.Id)
    @Html.Hidden("ticketId", (int?)ViewBag.TicketId)

    <div id="outer-container">
        <div id="left-column">
            <div id="top-box">
                <!-- Верхний блок в левом столбце -->
                <div style="display: flex; flex-direction: row; padding: 20px; align-items: safe center;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px" fill="#d8d8d8">
                        <path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
                    </svg>
                    <label style="text-decoration: underline; color: #d8d8d8; margin-left: 7px">@User.Identity!.Name</label>
                </div>
                <div style="display: flex; flex-direction: row; padding: 0 20px; align-items: safe center;">
                     <svg xmlns="http://www.w3.org/2000/svg" id="tutorial-img" viewBox="0 0 512 512" fill="#d8d8d8" height="20px" width="20px" >
                        <path d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z" />
                    </svg>
                     <label style="text-decoration: underline; color: #d8d8d8; margin-left: 7px">Документация</label>
                </div>
            </div>
            <div id="bottom-box">
                <div id="workspaces" style="margin-top: 20px;">
                    <input type="hidden" name="currentWorkspace" value="@ViewBag.CurrentWorkspaceId" />
                    @foreach (var workspace in ViewBag.Workspaces)
                    {
                        <form method="post" action="/Workspace/DeleteWorkspace">
                            <div id="workspace-row" style="display: flex;  flex-direction: row;">
                                <input type="hidden" name="id" value="@workspace.Id"/>
                                <a id="current-workspace" asp-action="Workspaces" asp-controller="Workspace" asp-route-id="@workspace.Id" onclick="setCurrentWorkspace(@workspace.Id)">
                                    <label style="display: block; cursor: pointer !important;">@workspace.Name</label>
                                </a>
                                <div class="button-container" style="margin-left: auto !important;">
                                    <button id="delete-board" type="submit" style="margin-left: 10px;">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                    <button id="edit-board" type="button" style="margin-left: 10px;" onclick="editWorkspace(@workspace.Id)">
                                        <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                         
                    }
                </div>
                <button id="open-modal" onclick="openModal()">
                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
                <!-- Нижний блок в левом столбце -->
            </div>
        </div>
        <div id="right-column" style="display: flex;  ">
            <!-- Блок справа от левого столбца -->
            @if (ViewBag.Boards != null) 
            {
                foreach (var board in ViewBag.Boards)
                {
                    <div class="board-container">
                        <div class="header-container" style="border-bottom: 4px solid @board.ColorHex; ">
                            <input type="hidden" name="id" value="@board.Id" />
                            <label id="board">@board.Name</label>
                             <div class="button-container">
                                <button id="open-modal-ticket" onclick="addNewTicket(@board.Id)" @*onclick="openModalTicket(@board.Id)"*@>
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                 </button>
                                <form id="delete-form" method="post" action="/Workspace/DeleteBoard">
                                    <input type="hidden" name="id" value="@board.Id" />
                                    <button id="delete-board" type="submit">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                </form>
                                <button id="edit-board" onclick="editBoard(@(board.Id), `@(board.ColorHex)`)">
                                    <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="content-container" id="board-@board.Id">
                            @if (ViewBag.Tickets != null)
                            {
                                foreach (List<Ticket> tickets in ((Dictionary<int, List<Ticket>>)ViewBag.Tickets).Where(x => x.Key == board.Id).Select(x => x.Value))
                                {
                                    foreach (var ticket in tickets)
                                    {
                                        <div class="ticket" id="ticket-@ticket.Id" onclick="openTicket(@board.Workspace.Id, @ticket.Id)">
                                            <div class="ticket-title-preview">
                                                <label id="ticket-preview-label">@ticket.Title</label>
                                                <button id="ticket-del-button" onclick="deleteTicket(@board.Id, @ticket.Id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="red">
                                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            @if (ticket.Priority != null)
                                            {
                                                <div class="ticket-preview-priority">
                                                    <svg class="prio-image" width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill="#d8d8d8" d="M288 128h608L736 384l160 256H288v320h-96V64h96v64z" />
                                                    </svg>
                                                    <div style="margin-left: 7px; padding-left: 7px; padding-right: 7px; background-color: @ticket.Priority.ColorHex; border-radius: 20px;">
                                                        <label style="font-weight: bold; color: black">@ticket.Priority.Name</label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            }
            <button id="open-modal-board" onclick="openModalBoard()">
                <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
    </div>

<!---------------------------------------- модальные окна ------------------------------------------>

    <div id="myModal" class="myModal">
        <form method="post" action="/Workspace/CreateWorkspace">
            <input type="hidden" name="id" value="" />
            <p style="color: #d8d8d8">Введите название рабочего пространства</p>
            <div style="position: relative">
                <input type="text" style="width: 100%" class="input" name="workspaceName" placeholder="">
                <label class="placeholder">Название</label>
            </div>
            
            <input class="modalButton" type="submit" value="Сохранить" />
        </form>
    </div>
    <div id="overlay" class="overlay" onclick="closeModal()"></div>


    <div id="myModalBoard" class="myModal">
        <form method="post" action="/Workspace/CreateBoard">
            <input type="hidden" name="workspaceId" value="" />
            <input type="hidden" name="boardId" value=""/>
            <p style="color: #d8d8d8">Введите название доски</p>
            <div style="position: relative">
                <input type="text" style="width: 100%" class="input" name="Name" placeholder="">
                <label class="placeholder">Название</label>
            </div>
            <p style="color: #d8d8d8; margin-top: 7px">Выберете цвет</p>
            <input type="color" class="color-input" name="ColorHex" value="" style="margin-left: 0;"/>
            <input class="modalButton" type="submit" onclick="getWorkspaceId()" value="Сохранить" />
        </form>
    </div>
    <div id="overlayBoard" class="overlay" onclick="closeModalBoard()"></div>


    <div id="myModalTicket" class="myModal-ticket">
        @*@Html.Partial("_TicketDetails");*@
    </div>
    <div id="overlayTicket" class="overlay" onclick="checkTicketChanges()"></div>
    

    <div id="modal-priority">
  
    </div>
    <div id="overlayPriority" class="overlay-prio" onclick="closeModalPriority()"></div>

    <div id="modal-tags">
        
    </div>
    <div id="overlayTags" class="overlay-tags" onclick="closeModalTags()"></div>

<!----------------------------------------------------------------------------------------------->
</body>
</html>