<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @* <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>*@
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #outer-container {
            height: 92.4vh;
            display: flex;
        }

        #left-column {
            width: 15vw;
            background-color: #f0f0f0; /* Цвет фона левого столбца */
        }

        #top-box {
            height: 40vh;
            background-color: #30353c; /* Цвет фона верхнего блока */
            border-right: 1.5px solid #3c414a;
        }

        #bottom-box {
            flex: 1;
            height: 52.4vh;
            background-color: #30353c; /* Цвет фона нижнего блока */
            border-top: 1.5px solid #3c414a; /* Граница сверху */
            border-right: 1.5px solid #3c414a;
        }

        #right-column {
            flex: 1; /* Занимает все доступное пространство после левого столбца */
            background-color: #2a2e34; /* Цвет фона правого столбца */
        }

        #workspace-row{
            margin-left: 5px;
            border-radius: 8px;
            margin-bottom: 5px;
            padding: 5px;
            cursor: pointer !important;
        }

        #workspace-row:hover{
            background-color: #3c414a;
        }

        #workspace-row:hover .button-container button {
            opacity: 1;
        }
        
        #current-workspace{
            color: white; 
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .myModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 4;
            border-radius: 20px;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }

        .closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .modalButton {
            display: block;
            margin-top: 20px;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }

        .modalInput {
            display: block;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .board-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 20px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-top: 1px solid #3c414a;
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
            width: 250px;
            background-color: #30353c;
            overflow: hidden;
        }

        .header-container label {
            padding: 10px;
        }

        .content-container {
            height: 100%;
            position: relative;
            background-color: #30353c; 
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
        }

        #board{
            color: #d8d8d8;
        }

        #delete-board {
            margin-left: auto !important;
            margin-right: 1px !important;
            background-color: transparent;
            border: none;
            min-height: 25px !important;
            min-width: 25px !important;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }

        #delete-board:hover {
                background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        .delete-image{
            fill: #87909e;
            height: 15px;
            width: 15px;
        }

        #edit-board {
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            background-color: transparent;
            border: none;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex; 
            align-items: center;
        }

        #edit-board:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        #edit-board-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }
        #delete-form{
            margin-left: auto !important;
            margin-right: 2px !important;
        }

        .button-container {
            display: flex;
        }

        .button-container button {
            opacity: 0;
            transition: opacity 0.5s !important;
        }

        #add-button-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }

        .header-container:hover .button-container button {
            opacity: 1;
        }

        #open-modal{
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #open-modal-board{
            margin-left: 20px;
            margin-top: 29px;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #open-modal:hover,
        #open-modal-board:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }
        
    </style>
    <title>Вертикальные блоки</title>
</head>
<body>
    <div id="outer-container">
        <div id="left-column">
            <div id="top-box">
                <!-- Верхний блок в левом столбце -->
            </div>
            <div id="bottom-box">
                <div id="workspaces" style="margin-top: 20px;">
                    <input type="hidden" name="currentWorkspace" value="@ViewBag.CurrentWorkspaceId" />
                    @foreach (var workspace in ViewBag.Workspaces)
                    {
                        <form method="post" action="/Workspace/DeleteWorkspace">
                            <div id="workspace-row" style="display: flex;  flex-direction: row;">
                                <input type="hidden" name="id" value="@workspace.Id"/>
                                <a id="current-workspace" asp-action="Workspaces" asp-controller="Workspace" asp-route-id="@workspace.Id" onclick="setCurrentWorkspace(@workspace.Id)">
                                    <label style="display: block; cursor: pointer !important;">@workspace.Name</label>
                                </a>
                                <div class="button-container" style="margin-left: auto !important;">
                                    <button id="delete-board" type="submit" style="margin-left: 10px;">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                    <button id="edit-board" type="button" style="margin-left: 10px;" onclick="editWorkspace(@workspace.Id)">
                                        <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                         
                    }
                </div>
                <button id="open-modal" onclick="openModal()">
                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
                <!-- Нижний блок в левом столбце -->
            </div>
        </div>
        <div id="right-column" style="display: flex;  ">
            <!-- Блок справа от левого столбца -->
            @if (ViewBag.Boards != null) 
            {
                foreach (var board in ViewBag.Boards)
                {
                    @*<div style="display: flex;  flex-direction: row;">
                        <input type="hidden" name="id" value="@board.Id" />
                        <label id="board" style="color: @board.ColorHex">@board.Name</label>
                        <form method="post" action="/Workspace/DeleteBoard">
                            <input type="hidden" name="id" value="@board.Id"/>
                            <button type="submit">-</button>
                        </form>
                        <button onclick="editBoard(@(board.Id), `@(board.ColorHex)`)">edit</button>
                    </div>*@
                    <div class="board-container">
                        <div class="header-container" style="border-bottom: 4px solid @board.ColorHex; ">
                            <input type="hidden" name="id" value="@board.Id" />
                            <label id="board">@board.Name</label>
                             <div class="button-container">
                                <form id="delete-form" method="post" action="/Workspace/DeleteBoard">
                                    <input type="hidden" name="id" value="@board.Id" />
                                    <button id="delete-board" type="submit">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                </form>
                                <button id="edit-board" onclick="editBoard(@(board.Id), `@(board.ColorHex)`)">
                                   @*<svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>*@
                                    <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="content-container"></div>
                    </div>
                }
            }
            <button id="open-modal-board" onclick="openModalBoard()">
                <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
    </div>

    <div id="myModal" class="myModal">
        <form method="post" action="/Workspace/CreateWorkspace">
            <span class="closeBtn" onclick="closeModal()">&times;</span>
            <input type="hidden" name="id" value="" />
            <p>Введите название рабочего пространства</p>
            <input type="text" class="modalInput" name="workspaceName" placeholder="Название">
            <input class="modalButton" type="submit" value="Сохранить" />
        </form>
    </div>
    <div id="overlay" class="overlay" onclick="closeModal()"></div>


    <div id="myModalBoard" class="myModal">
        <form method="post" action="/Workspace/CreateBoard">
            <span class="closeBtn" onclick="closeModalBoard()">&times;</span>
            <input type="hidden" name="workspaceId" value="" />
            <input type="hidden" name="boardId" value=""/>
            <p>Введите название доски</p>
            <input type="text" class="modalInput" name="Name" placeholder="Название">
            <p>Выберете цвет</p>
            <input type="color" name="ColorHex" value=""/>
            <input class="modalButton" type="submit" onclick="getWorkspaceId()" value="Сохранить" />
        </form>
    </div>
    <div id="overlayBoard" class="overlay" onclick="closeModalBoard()"></div>

</body>
</html>
<script>
    //----------------------------------------------------------------------------------
    function openModal() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModal').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function editWorkspace(id){
        var modal = document.getElementById('myModal');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.action = '/Workspace/RenameWorkspace';
        form.querySelector('input[name="id"]').value = id;

        openModal();
    }

    //----------------------------------------------------------------------------------
    function openModalBoard() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModalBoard').style.display = 'block';
        document.getElementById('overlayBoard').style.display = 'block';
    }

    function closeModalBoard() {
        document.getElementById('myModalBoard').style.display = 'none';
        document.getElementById('overlayBoard').style.display = 'none';
    }

    function setCurrentWorkspace(id){
        document.querySelector('input[name="currentWorkspace"]').value = id;
    }

    function getWorkspaceId(){
        var modal = document.getElementById('myModalBoard');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.querySelector('input[name="workspaceId"]').value = document.querySelector('input[name="currentWorkspace"]').value;
    }

    function editBoard(id, color){
        var modal = document.getElementById('myModalBoard');
        var form = modal.querySelector('form');
        form.action = '/Workspace/EditBoard';
        form.querySelector('input[name="boardId"]').value = id;
        form.querySelector('input[name="ColorHex"]').value = color;

        openModalBoard();
    }
</script>
