@using ControlSystem.Domain.Entities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


   @* <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>*@
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #outer-container {
            height: 92.4vh;
            display: flex;
        }

        #left-column {
            width: 15vw;
            background-color: #f0f0f0; /* Цвет фона левого столбца */
        }

        #top-box {
            height: 40vh;
            background-color: #30353c; /* Цвет фона верхнего блока */
            border-right: 1.5px solid #3c414a;
        }

        #bottom-box {
            flex: 1;
            height: 52.4vh;
            background-color: #30353c; /* Цвет фона нижнего блока */
            border-top: 1.5px solid #3c414a; /* Граница сверху */
            border-right: 1.5px solid #3c414a;
        }

        #right-column {
            flex: 1; /* Занимает все доступное пространство после левого столбца */
            background-color: #2a2e34; /* Цвет фона правого столбца */
        }

        #workspace-row{
            margin-left: 5px;
            border-radius: 8px;
            margin-bottom: 5px;
            padding: 5px;
            cursor: pointer !important;
        }

        #workspace-row:hover{
            background-color: #3c414a;
        }

        #workspace-row:hover .button-container button {
            opacity: 1;
        }
        
        #current-workspace{
            color: white; 
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .myModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 4;
            border-radius: 20px;
            background-color: #30353c;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }

        .closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .modalButton {
            display: block;
            margin-top: 20px;
            margin-left: auto;
            padding: 10px;
            background-color: transparent;
            color: #15c118;
            border: 1px solid #15c118;
            border-radius: 20px;
            cursor: pointer;
        }

        .modalButton:hover{
            background-color: #4f5762;
        }

        .modalInput {
            display: block;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .board-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 20px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-top: 1px solid #3c414a;
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
            width: 250px;
            background-color: #30353c;
            overflow: hidden;
        }

        .header-container label {
            padding: 10px;
        }

        .content-container {
            height: 100%;
            position: relative;
            background-color: #30353c; 
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
            align-items: center !important;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding-bottom: 18px;
        }

        #board{
            color: #d8d8d8;
        }

        #delete-board {
            margin-left: auto !important;
            margin-right: 1px !important;
            background-color: transparent;
            border: none;
            min-height: 25px !important;
            min-width: 25px !important;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }

        #delete-board:hover {
                background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        .delete-image{
            fill: #87909e;
            height: 15px;
            width: 15px;
        }

        #edit-board {
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            background-color: transparent;
            border: none;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex; 
            align-items: center;
        }

        #edit-board:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        #edit-board-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }
        #delete-form{
            margin-left: auto !important;
            margin-right: 2px !important;
        }

        .button-container {
            display: flex;
            align-items: center !important;
        }

        /*ВОЗМОЖНО УБРАТЬ ------------------------------------------------------------*/
        .button-container button {
            opacity: 0;
            transition: opacity 0.5s !important;
        }
        /*ВОЗМОЖНО УБРАТЬ ------------------------------------------------------------*/

        #add-button-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }

        .header-container:hover .button-container button {
            opacity: 1;
        }

        #open-modal{
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #open-modal-board{
            margin-left: 20px;
            margin-top: 29px;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #add-button,
        #open-modal-ticket{
            margin-right: 2px;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #send-comment-button {
            min-height: 50px !important;
            min-width: 50px !important;
            max-height: 50px !important;
            max-width: 50px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            padding: 0 !important;
            margin-top: auto;
        }

        #send-comment-button:hover,
        #add-button:hover,
        #open-modal:hover,
        #open-modal-board:hover,
        #open-modal-ticket:hover,
        .edit-ticket-button:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }
        
        .ticket{
            width: 210px;
            border-radius: 20px;
            min-height: 50px;
            margin-top: 18px;
            background-color:  #3c414a;
            border: 1px solid #87909e;
            text-align: center;
            color: #d8d8d8;
        }

        .myModal-ticket {
            min-width: 1200px;
            min-height: 660px;
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 4;
            border-radius: 20px;
            background-color: #30353c;
            /*display: flex;
            flex-direction: row;
            justify-content: space-between;*/
        }

        .ticket-title{
            margin:0 20px 20px 0;
            background-color: transparent;
            color: #d8d8d8;
            border: none;
            font-size: 36px;


           /* width: 100%;*/
        }
        .ticket-title::placeholder{
                color: #d8d8d8;
        }

        .left-ticket-modal{
            display: flex;
            flex-direction: column;
            width: 780px;
            height: 620px;
            overflow: auto;
        }

        .attachments-container{
            margin-right: 20px;
        }

        .right-ticket-modal{
            width: 420px;
        }
        .ticket-container{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .priority-container,
        .tags,
        .info-card {
            display: flex;
            flex-direction: row;
            /*justify-content: center;*/
            align-items: center;
            /*padding: 10px;*/
        }

        .priority-container {
            margin-top: 10px;
        }
        .info-card{
           /* padding-bottom: 10px;*/
        }
       /* 
        .description-container{
            min-height: 100px;
        }*/

        .description-container{
            margin-top: 20px;
        }

        .description-body{
            margin-top: 10px;
            margin-right: 20px !important;
        }

        .description-text-container{
            border: 1px solid #87909e !important;
            width: 100%;
            border-radius: 20px;
            margin-right: 20px !important;
            padding: 8px;
            min-height: 50px;
            cursor: text;
            color: #d8d8d8;
        }

        .edit-ticket-button{
            min-height: 3em !important;
            min-width: 3em !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            padding: 0 !important;
            /*border: 1px solid #15c118;*/
           /* color: #15c118;*/
        }

        #edit-ticket-button-image{
            fill: #15c118 !important;
            max-height: 3em !important;
            max-width: 3em !important;
        }

        ::-webkit-scrollbar {
            width: 7px; /* Ширина скролла */
            background-color: transparent; /* Прозрачный фон */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #87909e; /* Цвет скролла */
            border-radius: 6px; /* Радиус скролла */
        }

       ::-webkit-scrollbar-track {
            background-color: transparent; /* Прозрачный трек */
        }

        ::-o-scrollbar-thumb {
            background-color: #87909e;
            border-radius: 6px;
        }

        ::-o-scrollbar {
            width: 12px;
            background-color: transparent;
        }

        ::-o-scrollbar-track {
            background-color: transparent;
        }

        #myModalTicket {
            scrollbar-width: thin;
            scrollbar-color: #87909e transparent;
        }

        .comment-text{
            border: 1px solid #87909e !important;
            border-radius: 20px;
            margin-right: 20px !important;
            margin-left: 20px !important;
            margin-bottom: 20px;
            padding: 15px;
            min-height: 50px;
            cursor: default;
            background-color:#30353c;
            color: #d8d8d8;
        }

        .comments-container{
            display: flex;
            flex-direction: column;
            background-color: #2a2e34;
            border: 1px solid #87909e !important;
            border-radius: 20px;
            padding: 10px;
            height: 550px;
            
        }

        .comment-content label{
            color: white; 
            margin-left: 20px;
            margin-bottom: 5px;
        }

         .tab-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
           /* margin-right: 20px;*/
        }

        .tabs {
            display: flex;
            list-style: none !important;
            padding: 0;
            margin: 0;
           /* border-bottom: 1px solid #87909e;*/
            width: 100% !important;
        }

        .tab {
            cursor: pointer;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #30353c;
/*            border: 1px solid #ccc;*/
            color: #87909e;
            border:none;
            
            /*margin-bottom: 1px;*/
        }

        .tab:hover {
            background-color: #3c414a;
            border-radius: 10px 10px 0 0;
            

        }

        .tab.active {
/*            background-color: #fff;
            border-bottom: 1px solid #fff;*/
            border-bottom: 3px solid #d8d8d8;
            color: white;
        }

        .tab-content {
            border-top: 1px solid #87909e;
            display: none;
            padding: 20px;
            margin-right: 0 !important;
           /* border: 1px solid #ccc;*/
            /*border-radius: 0 0 5px 5px;*/
        }

        .tab-content.active {
            display: flex;
            flex-direction: row;
        }

        .inner-tab-content {
            display:flex;
            flex-direction: column;
            width: 100%;
        }

        .add-button-tab-container {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .prio-image,
        .tags-image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
        }
        
        .prio-image {
            margin-left: -2px;
        }

        .comment-header,
        .info-card-date,
        .info-card-author {
            color: #d8d8d8;
        }
        
        .info-card-date{
            margin-left: auto;
            margin-right: 20px;
        }

        .deadline-div{
            margin-left: auto;
            margin-bottom: 10px;
        }
        
        .send-comment-container {
            margin: 0 20px 20px 20px;
            padding-top: 7px;
            border-top: 1px solid #d8d8d8;
            margin-top: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
        .comment-enter {
            width: 100%;
            border: 1px solid #87909e !important;
            border-radius: 20px;
            padding: 10px !important;
            min-height: 50px;
            cursor: text;
            background-color: #30353c;
            color: #d8d8d8;
            max-height: 150px !important;
            overflow: auto;  
            resize: none;
            height: 50px; 
            /*height: 50px;*/
            
        }

        .comment-wrapper {
            overflow: hidden;
            border-radius: 20px;
            display: flex;
/*            box-sizing: border-box;*/
            width: 100%;
            margin-right: 10px;
        }

        



    </style>
    <title>Вертикальные блоки</title>
</head>
<body>
    <div id="outer-container">
        <div id="left-column">
            <div id="top-box">
                <!-- Верхний блок в левом столбце -->
            </div>
            <div id="bottom-box">
                <div id="workspaces" style="margin-top: 20px;">
                    <input type="hidden" name="currentWorkspace" value="@ViewBag.CurrentWorkspaceId" />
                    @foreach (var workspace in ViewBag.Workspaces)
                    {
                        <form method="post" action="/Workspace/DeleteWorkspace">
                            <div id="workspace-row" style="display: flex;  flex-direction: row;">
                                <input type="hidden" name="id" value="@workspace.Id"/>
                                <a id="current-workspace" asp-action="Workspaces" asp-controller="Workspace" asp-route-id="@workspace.Id" onclick="setCurrentWorkspace(@workspace.Id)">
                                    <label style="display: block; cursor: pointer !important;">@workspace.Name</label>
                                </a>
                                <div class="button-container" style="margin-left: auto !important;">
                                    <button id="delete-board" type="submit" style="margin-left: 10px;">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                    <button id="edit-board" type="button" style="margin-left: 10px;" onclick="editWorkspace(@workspace.Id)">
                                        <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                         
                    }
                </div>
                <button id="open-modal" onclick="openModal()">
                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
                <!-- Нижний блок в левом столбце -->
            </div>
        </div>
        <div id="right-column" style="display: flex;  ">
            <!-- Блок справа от левого столбца -->
            @if (ViewBag.Boards != null) 
            {
                foreach (var board in ViewBag.Boards)
                {
                    <div class="board-container">
                        <div class="header-container" style="border-bottom: 4px solid @board.ColorHex; ">
                            <input type="hidden" name="id" value="@board.Id" />
                            <label id="board">@board.Name</label>
                             <div class="button-container">
                                <button id="open-modal-ticket" onclick="addNewTicket(@board.Id)" @*onclick="openModalTicket(@board.Id)"*@>
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                 </button>
                                <form id="delete-form" method="post" action="/Workspace/DeleteBoard">
                                    <input type="hidden" name="id" value="@board.Id" />
                                    <button id="delete-board" type="submit">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                </form>
                                <button id="edit-board" onclick="editBoard(@(board.Id), `@(board.ColorHex)`)">
                                    <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="content-container" id="board-@board.Id">
                            @if (ViewBag.Tickets != null)
                            {
                                foreach (List<Ticket> tickets in ((Dictionary<int, List<Ticket>>)ViewBag.Tickets).Where(x => x.Key == board.Id).Select(x => x.Value))
                                {
                                    foreach (var ticket in tickets)
                                    {
                                        <div class="ticket" id="ticket-@ticket.Id" onclick="openTicket(@board.Workspace.Id, @ticket.Id)">
                                            <label style="color: #d8d8d8">@ticket.Title</label>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            }
            <button id="open-modal-board" onclick="openModalBoard()">
                <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
    </div>

<!---------------------------------------- модальные окна ------------------------------------------>

    <div id="myModal" class="myModal">
        <form method="post" action="/Workspace/CreateWorkspace">
            <span class="closeBtn" onclick="closeModal()">&times;</span>
            <input type="hidden" name="id" value="" />
            <p>Введите название рабочего пространства</p>
            <input type="text" class="modalInput" name="workspaceName" placeholder="Название">
            <input class="modalButton" type="submit" value="Сохранить" />
        </form>
    </div>
    <div id="overlay" class="overlay" onclick="closeModal()"></div>


    <div id="myModalBoard" class="myModal">
        <form method="post" action="/Workspace/CreateBoard">
            <span class="closeBtn" onclick="closeModalBoard()">&times;</span>
            <input type="hidden" name="workspaceId" value="" />
            <input type="hidden" name="boardId" value=""/>
            <p>Введите название доски</p>
            <input type="text" class="modalInput" name="Name" placeholder="Название">
            <p>Выберете цвет</p>
            <input type="color" name="ColorHex" value=""/>
            <input class="modalButton" type="submit" onclick="getWorkspaceId()" value="Сохранить" />
        </form>
    </div>
    <div id="overlayBoard" class="overlay" onclick="closeModalBoard()"></div>


    <div id="myModalTicket" class="myModal-ticket">
        @*@Html.Partial("_TicketDetails");*@
    </div>
    <div id="overlayTicket" class="overlay" onclick="closeModalTicket()"></div>

<!----------------------------------------------------------------------------------------------->

</body>
</html>
<script>
    //----------------------------------------------------------------------------------
    function openModal() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModal').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function editWorkspace(id){
        var modal = document.getElementById('myModal');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.action = '/Workspace/RenameWorkspace';
        form.querySelector('input[name="id"]').value = id;

        openModal();
    }

    //----------------------------------------------------------------------------------
    function openModalBoard() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModalBoard').style.display = 'block';
        document.getElementById('overlayBoard').style.display = 'block';
    }

    function closeModalBoard() {
        document.getElementById('myModalBoard').style.display = 'none';
        document.getElementById('overlayBoard').style.display = 'none';
    }

    function setCurrentWorkspace(id){
        document.querySelector('input[name="currentWorkspace"]').value = id;
    }

    function getWorkspaceId(){
        var modal = document.getElementById('myModalBoard');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.querySelector('input[name="workspaceId"]').value = document.querySelector('input[name="currentWorkspace"]').value;
    }

    function editBoard(id, color){
        var modal = document.getElementById('myModalBoard');
        var form = modal.querySelector('form');
        form.action = '/Workspace/EditBoard';
        form.querySelector('input[name="StatusId"]').value = id;
        form.querySelector('input[name="ColorHex"]').value = color;

        openModalBoard();
    }

    function openModalTicket(id){
        var modal = document.getElementById('myModalTicket');
        var form = modal.querySelector('form');
        form.querySelector('input[name="StatusId"]').value = id;
        document.getElementById('myModalTicket').style.display = 'block';
        document.getElementById('overlayTicket').style.display = 'block';
    }

    function closeModalTicket(){
        document.getElementById('myModalTicket').style.display = 'none';
        document.getElementById('overlayTicket').style.display = 'none';
        var currentUrl = window.location.href;

        // Регулярное выражение для удаления последнего сегмента URL
        var regex = /\/\d+$/;

        // Обрезаем URL до необходимого уровня
        var trimmedUrl = currentUrl.replace(regex, '');

        // Заменяем текущее состояние истории новым состоянием с обновленным URL
        history.replaceState(null, null, trimmedUrl);
    }

  

   function initializeTabs() {

        var tabs = document.querySelectorAll('.tab');
        var tabContents = document.querySelectorAll('.tab-content');

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                var tabId = this.getAttribute('data-tab');

                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                });

                tabContents.forEach(function (content) {
                    content.classList.remove('active');
                });

                this.classList.add('active');
                document.getElementById(tabId).classList.add('active');
            });
        });
    }

    
    //function auroResize() {
    //    const textarea = document.getElementById("inner-textarea");
    //    textarea.style.height = 'auto';
    //    textarea.style.height = (textarea.scrollHeight <= 150) ? textarea.scrollHeight + 'px' : '150px';
    //}
    
     function auroResize() {
        const textarea = document.getElementById("inner-textarea");

        // Получаем количество строк в textarea
        const numberOfLines = (textarea.value.match(/\n/g) || []).length + 1;

        // Устанавливаем высоту только если количество строк больше 1
        textarea.style.height = (numberOfLines > 1) ? 'auto' : '50px';

        // Если количество строк больше 1, устанавливаем высоту в соответствии с содержимым
        if (numberOfLines > 1) {
            const scrollHeight = textarea.scrollHeight;
            textarea.style.height = (scrollHeight <= 150) ? scrollHeight + 'px' : '150px';

            // Принудительно обновляем значение textarea
            textarea.value = textarea.value;
        }
    }


    function setupDescriptionInput() {
        var descriptionDiv = document.querySelector('.description-text-container');
        var descriptionHidden = document.getElementById('hiddenDescription');

        descriptionDiv.addEventListener('input', function () {
            descriptionHidden.value = descriptionDiv.innerHTML;
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        setupDescriptionInput();
    });


    // Ajax-------------------------------------------------------------------------------
    
    toastr.options = {
        "positionClass": "toast-bottom-right", // Устанавливаем позицию в нижний правый угол
    };

    function createTicket() {
        var formData = $("#formTicket").serialize();

        $.ajax({
            type: 'POST',
            url: '/Ticket/CreateTicket', 
           contentType: "application/x-www-form-urlencoded; charset=UTF-8",
           dataType: 'json',
            data: formData,
            success: function (result) {

                var ticketsDiv = $('#board-' + result[0].statusId);
                ticketsDiv.empty();
                result.forEach(function (ticket) {
                    ticketsDiv.append('<div class="ticket"><label style="color: #d8d8d8">' + ticket.title + '</label></div>');
                });

                toastr.success('Тикет успешно создан!');
            },
            error: function (xhr, status, error) {
                //console.error('HTTP error occurred:', status, error);
                //console.error('Response Text:', xhr.responseText);
                //console.error('Status Text:', xhr.statusText);
                //console.error('Full response:', xhr);
                toastr.error(JSON.parse(xhr.responseText).trim() || 'Произошла ошибка!');
                //toastr.error('Произошла ошибка при создании тикета.');
            }
        });
    }

    //-------------------------------------------------------------------------------

    //function addNewTicket(id) {
    //    var newTicketHtml = '<div class="ticket" contenteditable="true" onkeydown="handleKeyDown(event)"></div>';
    //    $("#board-" + id).prepend(newTicketHtml);
    //    //requestAnimationFrame(function () {
    //    //    $("#board" + id +" div:first-child").focus();
    //    //});
    //    $("#board-" + id).on("DOMSubtreeModified", function () {
    //        //$(".ticket").off("DOMSubtreeModified"); // Отключаем обработчик, чтобы избежать повторных вызовов
    //        $(".ticket:first").focus();
    //    });

    //}
    function addNewTicket(id) {
        var newTicketHtml = '<div class="ticket" contenteditable="true" onkeydown="handleKeyDown(event, ' + id + ')"></div>';
        var $board = $("#board-" + id);

        $board.prepend(newTicketHtml).promise().done(function () {
            $board.find(".ticket:first").focus();
        });
    }


    function handleKeyDown(event, id) {
        if (event.key === "Enter") {
            event.preventDefault();
            $(event.target).blur();
            var text = event.target.innerText.trim();
            

            if (text !== "") {
                createTicketV2(text, id);
                //console.log("Выполнить AJAX-запрос с текстом:", text);
            }
        }
    }

    function createTicketV2(text, boardId) {
       
        $.ajax({
            type: 'POST',
            url: '/Ticket/CreateTicket',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: 'json',
            data: { title: text, boardId: boardId },
            success: function (result) {

                var ticketsDiv = $('#board-' + result[0].statusId);
                ticketsDiv.empty();
                result.forEach(function (ticket) {
                    
                //ticketsDiv.append('<div class="ticket"><label style="color: #d8d8d8">' + ticket.title + '</label></div>');
                    var ticketElement = $('<div class="ticket"><label style="color: #d8d8d8">' + ticket.title + '</label></div>');
                    ticketElement.attr('id', 'ticket-' + ticket.Id);

                    // Добавляем обработчик события click
                    ticketElement.click(function () {
                        openTicket(ticket.workspaceId, ticket.id);
                    });

                    // Добавляем элемент в ticketsDiv
                    ticketsDiv.append(ticketElement);
                });

                toastr.success('Тикет успешно создан!');
            },
            error: function (xhr, status, error) {
                //console.error('HTTP error occurred:', status, error);
                //console.error('Response Text:', xhr.responseText);
                //console.error('Status Text:', xhr.statusText);
                //console.error('Full response:', xhr);
                toastr.error(JSON.parse(xhr.responseText).trim() || 'Произошла ошибка!');
                //toastr.error('Произошла ошибка при создании тикета.');
            }
        });
    }


    function openTicket(workspaceId, ticketId) {
        var ticketUrl = workspaceId + '/' + ticketId;
        history.pushState({}, '', ticketUrl);
        // Загружаем данные через AJAX
        loadTicketData(workspaceId, ticketId);

    }
 

    function loadTicketData(workspaceId, ticketId) {
        // Используем библиотеку jQuery для упрощения AJAX-запроса
        $.ajax({
            url: "/Ticket/TicketDetails",
            //url: workspaceId +'/' + ticketId,
            method: 'GET',
            data: { workspaceId: workspaceId, ticketId: ticketId },
            success: function (data) {
                openModal(data);
            },
            error: function () {
                toastr.error(JSON.parse(xhr.responseText).trim() || 'Произошла ошибка!');
            }
        });
    }

    function openModal(partialViewHtml) {
        // Ваш код для открытия модального окна
        var modal = document.getElementById('myModalTicket');
        var overlay = document.getElementById('overlayTicket');

        // Заполняем содержимым Partial View
        modal.innerHTML = partialViewHtml;

        modal.style.display = 'block';
        overlay.style.display = 'block';


        initializeTabs();
    }


    document.addEventListener("DOMContentLoaded", function () {
        var ticketId = @ViewBag.TicketId;
        if (ticketId != 0) 
        {
            loadTicketData(@ViewBag.Id, @ViewBag.TicketId);
        }
    });

</script>