@using ControlSystem.Domain.Entities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @* <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>*@
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #outer-container {
            height: 92.4vh;
            display: flex;
        }

        #left-column {
            width: 15vw;
            background-color: #f0f0f0; /* Цвет фона левого столбца */
        }

        #top-box {
            height: 40vh;
            background-color: #30353c; /* Цвет фона верхнего блока */
            border-right: 1.5px solid #3c414a;
        }

        #bottom-box {
            flex: 1;
            height: 52.4vh;
            background-color: #30353c; /* Цвет фона нижнего блока */
            border-top: 1.5px solid #3c414a; /* Граница сверху */
            border-right: 1.5px solid #3c414a;
        }

        #right-column {
            flex: 1; /* Занимает все доступное пространство после левого столбца */
            background-color: #2a2e34; /* Цвет фона правого столбца */
        }

        #workspace-row{
            margin-left: 5px;
            border-radius: 8px;
            margin-bottom: 5px;
            padding: 5px;
            cursor: pointer !important;
        }

        #workspace-row:hover{
            background-color: #3c414a;
        }

        #workspace-row:hover .button-container button {
            opacity: 1;
        }
        
        #current-workspace{
            color: white; 
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .myModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 4;
            border-radius: 20px;
            background-color: #30353c;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }

        .closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .modalButton {
            display: block;
            margin-top: 20px;
            margin-left: auto;
            padding: 10px;
            background-color: transparent;
            color: #15c118;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }

        .modalButton:hover{
            background-color: #4f5762;
        }

        .modalInput {
            display: block;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .board-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 20px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-top: 1px solid #3c414a;
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
            width: 250px;
            background-color: #30353c;
            overflow: hidden;
        }

        .header-container label {
            padding: 10px;
        }

        .content-container {
            height: 100%;
            position: relative;
            background-color: #30353c; 
            border-right: 1px solid #3c414a;
            border-left: 1px solid #3c414a;
            align-items: center !important;
            display: flex;
            flex-direction: column;
        }

        #board{
            color: #d8d8d8;
        }

        #delete-board {
            margin-left: auto !important;
            margin-right: 1px !important;
            background-color: transparent;
            border: none;
            min-height: 25px !important;
            min-width: 25px !important;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }

        #delete-board:hover {
                background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        .delete-image{
            fill: #87909e;
            height: 15px;
            width: 15px;
        }

        #edit-board {
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            background-color: transparent;
            border: none;
            transition: background-color 0.3s;
            border-radius: 10px;
            display: flex; 
            align-items: center;
        }

        #edit-board:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }

        #edit-board-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }
        #delete-form{
            margin-left: auto !important;
            margin-right: 2px !important;
        }

        .button-container {
            display: flex;
            align-items: center !important;
        }

        /*ВОЗМОЖНО УБРАТЬ ------------------------------------------------------------*/
        .button-container button {
            opacity: 0;
            transition: opacity 0.5s !important;
        }
        /*ВОЗМОЖНО УБРАТЬ ------------------------------------------------------------*/

        #add-button-image{
            fill: #15c118;
            height: 15px !important;
            width: 15px !important;
        }

        .header-container:hover .button-container button {
            opacity: 1;
        }

        #open-modal{
            margin-left: auto !important;
            margin-right: 7px !important;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #open-modal-board{
            margin-left: 20px;
            margin-top: 29px;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #add-button,
        #open-modal-ticket{
            margin-right: 2px;
            min-height: 25px !important;
            min-width: 25px !important;
            max-height: 25px !important;
            max-width: 25px !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 10px;
        }

        #add-button:hover,
        #open-modal:hover,
        #open-modal-board:hover,
        #open-modal-ticket:hover,
        .edit-ticket-button:hover {
            background-color: #4f5762; /* Цвет подсветки при наведении */
        }
        
        .ticket{
            width: 210px;
            border-radius: 20px;
            min-height: 50px;
            margin-top: 18px;
            background-color:  #3c414a;
            border: 1px solid #87909e;
            text-align: center;
        }

        .myModal-ticket {
            min-width: 1200px;
            min-height: 660px;
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 4;
            border-radius: 20px;
            background-color: #30353c;
            /*display: flex;
            flex-direction: row;
            justify-content: space-between;*/
        }

        .ticket-title{
            margin: 20px 20px 20px 0;
            background-color: transparent;
            color: #d8d8d8;
            border: none;
            font-size: 36px;


           /* width: 100%;*/
        }
        .ticket-title::placeholder{
                color: #d8d8d8;
        }

        .left-ticket-modal{
            display: flex;
            flex-direction: column;
            width: 780px;
            height: 620px;
            overflow: auto;
        }

        .attachments-container{
            margin-right: 20px;
        }

        .right-ticket-modal{
            width: 420px;
        }
        .ticket-container{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .tags,
        .info-card {
            display: flex;
            flex-direction: row;
            /*padding: 10px;*/
        }
       /* 
        .description-container{
            min-height: 100px;
        }*/

        .description-container{
            margin-top: 20px;
        }
        .description-body{
            margin-top: 10px;
            margin-right: 20px !important;
        }

        .description-text-container{
            border: 1px solid #87909e !important;
            width: 100%;
            border-radius: 20px;
            margin-right: 20px !important;
            padding: 8px;
            min-height: 50px;
            cursor: text;
            color: #d8d8d8;
        }

        .edit-ticket-button{
            min-height: 3em !important;
            min-width: 3em !important;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            padding: 0 !important;
            /*border: 1px solid #15c118;*/
           /* color: #15c118;*/
        }

        #edit-ticket-button-image{
            fill: #15c118 !important;
            max-height: 3em !important;
            max-width: 3em !important;
        }

        .left-ticket-modal::-webkit-scrollbar {
            width: 7px; /* Ширина скролла */
            background-color: transparent; /* Прозрачный фон */
        }

        .left-ticket-modal::-webkit-scrollbar-thumb {
            background-color: #87909e; /* Цвет скролла */
            border-radius: 6px; /* Радиус скролла */
        }

        .left-ticket-modal::-webkit-scrollbar-track {
            background-color: transparent; /* Прозрачный трек */
        }

        .left-ticket-modal::-o-scrollbar-thumb {
            background-color: #87909e;
            border-radius: 6px;
        }

        .left-ticket-modal::-o-scrollbar {
            width: 12px;
            background-color: transparent;
        }

        .left-ticket-modal::-o-scrollbar-track {
            background-color: transparent;
        }

        .left-ticket-modal {
            scrollbar-width: thin;
            scrollbar-color: #87909e transparent;
        }

        .comment-text{
            border: 1px solid #87909e !important;
            border-radius: 20px;
            margin-right: 20px !important;
            margin-left: 20px !important;
            margin-bottom: 20px;
            padding: 15px;
            min-height: 50px;
            cursor: default;
            background-color:#30353c;
            color: #d8d8d8;
        }

        .comments-container{
            background-color: #2a2e34;
            border: 1px solid #87909e !important;
            border-radius: 20px;
            padding: 10px;
            height: 600px;
            
        }

        .comment-content label{
            color: white; 
            margin-left: 20px;
            margin-bottom: 5px;
        }

         .tab-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
           /* margin-right: 20px;*/
        }

        .tabs {
            display: flex;
            list-style: none !important;
            padding: 0;
            margin: 0;
           /* border-bottom: 1px solid #87909e;*/
            width: 100% !important;
        }

        .tab {
            cursor: pointer;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #30353c;
/*            border: 1px solid #ccc;*/
            color: #87909e;
            border:none;
            
            /*margin-bottom: 1px;*/
        }

        .tab:hover {
            background-color: #3c414a;
            border-radius: 10px 10px 0 0;
            

        }

        .tab.active {
/*            background-color: #fff;
            border-bottom: 1px solid #fff;*/
            border-bottom: 3px solid #d8d8d8;
            color: white;
        }

        .tab-content {
            border-top: 1px solid #87909e;
            display: none;
            padding: 20px;
            margin-right: 0 !important;
           /* border: 1px solid #ccc;*/
            /*border-radius: 0 0 5px 5px;*/
        }

        .tab-content.active {
            display: flex;
            flex-direction: row;
        }

        .inner-tab-content {
            display:flex;
            flex-direction: column;
            width: 100%;
        }

        .add-button-tab-container {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    </style>
    <title>Вертикальные блоки</title>
</head>
<body>
    <div id="outer-container">
        <div id="left-column">
            <div id="top-box">
                <!-- Верхний блок в левом столбце -->
            </div>
            <div id="bottom-box">
                <div id="workspaces" style="margin-top: 20px;">
                    <input type="hidden" name="currentWorkspace" value="@ViewBag.CurrentWorkspaceId" />
                    @foreach (var workspace in ViewBag.Workspaces)
                    {
                        <form method="post" action="/Workspace/DeleteWorkspace">
                            <div id="workspace-row" style="display: flex;  flex-direction: row;">
                                <input type="hidden" name="id" value="@workspace.Id"/>
                                <a id="current-workspace" asp-action="Workspaces" asp-controller="Workspace" asp-route-id="@workspace.Id" onclick="setCurrentWorkspace(@workspace.Id)">
                                    <label style="display: block; cursor: pointer !important;">@workspace.Name</label>
                                </a>
                                <div class="button-container" style="margin-left: auto !important;">
                                    <button id="delete-board" type="submit" style="margin-left: 10px;">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                    <button id="edit-board" type="button" style="margin-left: 10px;" onclick="editWorkspace(@workspace.Id)">
                                        <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                         
                    }
                </div>
                <button id="open-modal" onclick="openModal()">
                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
                <!-- Нижний блок в левом столбце -->
            </div>
        </div>
        <div id="right-column" style="display: flex;  ">
            <!-- Блок справа от левого столбца -->
            @if (ViewBag.Boards != null) 
            {
                foreach (var board in ViewBag.Boards)
                {
                    <div class="board-container">
                        <div class="header-container" style="border-bottom: 4px solid @board.ColorHex; ">
                            <input type="hidden" name="id" value="@board.Id" />
                            <label id="board">@board.Name</label>
                             <div class="button-container">
                                 <button id="open-modal-ticket" onclick="openModalTicket(@board.Id)">
                                    <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                    </svg>
                                 </button>
                                <form id="delete-form" method="post" action="/Workspace/DeleteBoard">
                                    <input type="hidden" name="id" value="@board.Id" />
                                    <button id="delete-board" type="submit">
                                        <svg class="delete-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                                        </svg>
                                    </button>
                                </form>
                                <button id="edit-board" onclick="editBoard(@(board.Id), `@(board.ColorHex)`)">
                                    <svg id="edit-board-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="content-container">
                            @if (ViewBag.Tickets != null)
                            {
                                foreach (List<Ticket> tickets in ((Dictionary<int, List<Ticket>>)ViewBag.Tickets).Where(x => x.Key == board.Id).Select(x => x.Value))
                                {
                                    foreach (var ticket in tickets)
                                    {
                                        <div class="ticket">
                                            <label style="color: #d8d8d8">@ticket.Title</label>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            }
            <button id="open-modal-board" onclick="openModalBoard()">
                <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
    </div>

<!---------------------------------------- модальные окна ------------------------------------------>

    <div id="myModal" class="myModal">
        <form method="post" action="/Workspace/CreateWorkspace">
            <span class="closeBtn" onclick="closeModal()">&times;</span>
            <input type="hidden" name="id" value="" />
            <p>Введите название рабочего пространства</p>
            <input type="text" class="modalInput" name="workspaceName" placeholder="Название">
            <input class="modalButton" type="submit" value="Сохранить" />
        </form>
    </div>
    <div id="overlay" class="overlay" onclick="closeModal()"></div>


    <div id="myModalBoard" class="myModal">
        <form method="post" action="/Workspace/CreateBoard">
            <span class="closeBtn" onclick="closeModalBoard()">&times;</span>
            <input type="hidden" name="workspaceId" value="" />
            <input type="hidden" name="boardId" value=""/>
            <p>Введите название доски</p>
            <input type="text" class="modalInput" name="Name" placeholder="Название">
            <p>Выберете цвет</p>
            <input type="color" name="ColorHex" value=""/>
            <input class="modalButton" type="submit" onclick="getWorkspaceId()" value="Сохранить" />
        </form>
    </div>
    <div id="overlayBoard" class="overlay" onclick="closeModalBoard()"></div>


    <div id="myModalTicket" class="myModal-ticket">
        <form method="post" action="/Workspace/CreateTicket">
            <div class="ticket-container">
                <div class="left-ticket-modal">
                    <input type="hidden" name="boardId" value="" />
                    <input type="text" class="ticket-title" name="Title" placeholder="Название">
                    
                    <div class="tags">
                        @if(ViewBag.Tags != null)
                        {
                            <svg fill="#d8d8d8" width="24px" height="24px" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                                <path d="M246.65625,132.43713l-45.625,68.43848.001-.001a15.96649,15.96649,0,0,1-13.31348,7.125H40a16.01833,16.01833,0,0,1-16-16v-128a16.01833,16.01833,0,0,1,16-16H187.71875a15.9687,15.9687,0,0,1,13.31348,7.126l45.624,68.43652A7.99771,7.99771,0,0,1,246.65625,132.43713Z" />
                            </svg>
                            <label style="color: #d8d8d8; padding-left: 7px; padding-right: 7px">Теги:</label>

                            foreach (var tag in ViewBag.Tags)
                            {
                                <div class="tag" style="background-color: @tag.ColorHex; border-radius: 20px 20px 20px 20px; padding-right: 15px; padding-left:15px; margin-left: 7px;">
                                    
                                    <label style="font-weight: bold">@tag.Name</label>
                                </div>
                            }
                            <button id="add-button" style="margin-left: 7px">
                                <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                </svg>
                            </button>
                        }

                    </div>

                    <div class="info-card">
                        <label>@ViewBag.Author</label>
                        <label>@ViewBag.UpdatedDate</label>
                        @if (ViewBag.DeadlineDate != null)
                        {
                            <label>@ViewBag.DeadlineDate</label>
                        }
                    </div>
                    <div class="description-container">
                        <div class="description-header">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#d8d8d8">
                                <path d="M288 64c0 17.7-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32H256c17.7 0 32 14.3 32 32zm0 256c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H256c17.7 0 32 14.3 32 32zM0 192c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                            </svg>
                            <label style="color: #d8d8d8">Описание</label>
                        </div>
                        <div class="description-body">
                            <div class="description-text-container" contenteditable="true">@ViewBag.Description</div>
                        </div>
                    </div>
                    <div class="attachments-container">
                        <div class="tab-container">
                            <ul class="tabs">
                                <li class="tab active" data-tab="files">Файлы</li>
                                <li class="tab" data-tab="links">Ссылки</li>
                                <li class="tab" data-tab="participants">Участники</li>
                            </ul>

                            <div class="tab-content active" id="files">   
                                <div class="inner-tab-content">
                                    @if (ViewBag.Attachments != null)
                                    {
                                        @foreach (var file in ViewBag.Attachments)
                                        {
                                            <p>@file.FileName</p>
                                        }
                                    }
                                    else
                                    {
                                        <h4 style="color: #d8d8d8">Нет файлов в карточке</h4>
                                    }
                                </div>
                                <div class="add-button-tab-container">
                                    <button id="add-button" style="margin-left: 7px">
                                        <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="tab-content" id="links">
                                <div class="inner-tab-content">
                                    @if (ViewBag.Links != null)
                                    {
                                        foreach (var link in ViewBag.Links)
                                        {
                                            <a href="@link.Source">@link.Name</a>
                                        }
                                    }
                                    else
                                    {
                                        <h4 style="color: #d8d8d8">Нет ссылок в карточке</h4>
                                    }
                                </div>
                                <div class="add-button-tab-container">
                                    <button id="add-button" style="margin-left: 7px">
                                        <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="tab-content" id="participants">
                                <div class="inner-tab-content">
                                    @if(ViewBag.Participants != null)
                                    {
                                        foreach (var part in ViewBag.Participants)
                                        {
                                            <a>@part.Username</a>
                                        }
                                    }
                                    else
                                    {
                                        <h4 style="color: #d8d8d8">Нет участников в карточке</h4>
                                    }
                                </div>
                                <div class="add-button-tab-container">
                                    <button id="add-button" style="margin-left: 7px">
                                        <svg id="add-button-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="right-ticket-modal">

                    <div style="margin-left: 7px;">
                        @if(ViewBag.Comments != null)
                        {
                            <div class="comments-container">
                                @foreach (var commentary in ViewBag.Comments)
                                {
                                    <div class="comment-content">
                                        <label>@commentary.Author.Username</label>
                                        <div class="comment-text">@commentary.Content</div>
                                    </div>
                                }
                            </div>
                        }
                        
                    </div>
                    <input class="modalButton" type="submit" value="Сохранить" />
                </div>
            </div>
        </form>
    </div>
    <div id="overlayTicket" class="overlay" onclick="closeModalTicket()"></div>

<!----------------------------------------------------------------------------------------------->

</body>
</html>
<script>
    //----------------------------------------------------------------------------------
    function openModal() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModal').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function editWorkspace(id){
        var modal = document.getElementById('myModal');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.action = '/Workspace/RenameWorkspace';
        form.querySelector('input[name="id"]').value = id;

        openModal();
    }

    //----------------------------------------------------------------------------------
    function openModalBoard() {
        //ПОСЛЕ ДОБАВЛЕНИЯ AJAX
        //РАСКОММЕНТИТЬ ЭТО:

        //var modal = document.getElementById('myModal');
        //var form = modal.querySelector('form');
        //form.action = '/Workspace/CreateWorkspace';

        document.getElementById('myModalBoard').style.display = 'block';
        document.getElementById('overlayBoard').style.display = 'block';
    }

    function closeModalBoard() {
        document.getElementById('myModalBoard').style.display = 'none';
        document.getElementById('overlayBoard').style.display = 'none';
    }

    function setCurrentWorkspace(id){
        document.querySelector('input[name="currentWorkspace"]').value = id;
    }

    function getWorkspaceId(){
        var modal = document.getElementById('myModalBoard');

        // Находим форму внутри модального окна
        var form = modal.querySelector('form');
        form.querySelector('input[name="workspaceId"]').value = document.querySelector('input[name="currentWorkspace"]').value;
    }

    function editBoard(id, color){
        var modal = document.getElementById('myModalBoard');
        var form = modal.querySelector('form');
        form.action = '/Workspace/EditBoard';
        form.querySelector('input[name="boardId"]').value = id;
        form.querySelector('input[name="ColorHex"]').value = color;

        openModalBoard();
    }

    function openModalTicket(id){
        var modal = document.getElementById('myModalTicket');
        var form = modal.querySelector('form');
        form.querySelector('input[name="boardId"]').value = id;
        document.getElementById('myModalTicket').style.display = 'block';
        document.getElementById('overlayTicket').style.display = 'block';
    }

    function closeModalTicket(){
        document.getElementById('myModalTicket').style.display = 'none';
        document.getElementById('overlayTicket').style.display = 'none';
    }


     document.addEventListener('DOMContentLoaded', function () {
        var tabs = document.querySelectorAll('.tab');
        var tabContents = document.querySelectorAll('.tab-content');

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                var tabId = this.getAttribute('data-tab');

                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                });

                tabContents.forEach(function (content) {
                    content.classList.remove('active');
                });

                this.classList.add('active');
                document.getElementById(tabId).classList.add('active');
            });
        });
    });

</script>